<h1>This is my lovely articles</h1>

<h1>Current page: {{ model.meta.pagination.self.number }}</h1>
<h2>Last page: {{ this.model.meta.pagination.last.number }}!</h2>

{{#each this.model as |article|}}
  <div class="listing">
    {{#link-to "articles.show" article class="custom-link" }}
      {{article.title}}
    {{/link-to}}
    <div class="detail owner">
      <span>Author:</span> {{article.author}}
    </div>
    <div class="detail type">
      <span>Price:</span> {{format-currency article.price sign="$"}}
    </div>
    <div class="detail location">
      <span>ISBN:</span> {{article.isbn}}
    </div>

    <button {{action "delete" article}}>Delete</button>

  </div>
{{/each}}
<br><br>

{{#link-to "article.new" class="custom-link"}}New Article{{/link-to}}

<br><br>


{{#each-in this.model.meta.pagination as |key value|}}
  <LinkTo @route="articles" @query={{hash page=value.number}} class="custom-link">{{key}}</LinkTo>
{{/each-in}}

<br>

{{#each this.count as |number|}}
  {{#if (eq number this.model.meta.pagination.self.number) }}
    {{ number }}
  {{else}}
    <LinkTo @route="articles" @query={{hash page=number}} class="custom-link">{{number}}</LinkTo>
  {{/if}}
{{/each}}
